.cards{
    
    margin-top: 40px;
}

.card__list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    list-style: none;
    margin: 0;
    padding: 0;
   

}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
    
}

.card__image{
    width: 282px;
    height: 282px;
}

.card__description{
    display: flex;
    background-color: white;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    align-items: center;
    padding-right: 20px;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   column-gap: 3px;
   
}

.card__title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Inter", "Arial", sans-serif;
    line-height: 1.2;
    font-size: 24px;   
}

.card__like-button{
    background: transparent url(../images/Vector\ \(1\).svg) center no-repeat;
    width: 21px;
    height: 18px;
    border-style: none;
    flex-shrink: 0;
    
    margin: 0;
    
}

.card__like-button:hover{
    opacity: 60%;
}