.form{
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    margin-right: 36px;
    justify-content: center;
    
}

.form__input{
    border-style: none;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 1.2;
}

/*.form__input::placeholder{
    color: #000000;
    
}*/

.form__input-name{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

.form__input-description{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

.form__input-title{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   
}

.form__input-link{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   
}



/*.form__input:first-of-type{
    margin-bottom: 29px;
}*/
.form__input_type_error{
    border-bottom: 1px solid #FF0000;
}
.form__button{
    width: 358px;
    height: 50px;
    background-color: #000000;
    color: white;
    margin-bottom: 36px;
    margin-top: 48px;
    border-radius: 2px;
    border-style: none;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    cursor: pointer;
}

.form__button_disabled{
    background-color: white;
    color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: default;
    border-radius: 2px;
}
.form__button:hover{
    opacity: 80%;
}

.form__error{
    color: #FF0000;
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter", "Arial", sans-serif;
    line-height: 1.2;
    height: 7px;
}
.form__error:first-of-type{
    padding-bottom: 20px;
}

@media screen and (max-width:880px){
    .form{
        margin-left: 0;
        margin-right: 0;
    }

    .form__input{
        margin-left: 22px;
        margin-bottom: 13px;
        font-size: 14px;
    }
    .form__line{
        max-width: 238px;
        margin-left: 22px;
    }

    .form__line:first-of-type{
        margin-bottom: 30px;
    }

    .form__button{
        width: 238px;
        height: 46px;
        margin-left: 22px;
        margin-bottom: 25px;
        margin-top: 45px;
        font-size: 14px;
        margin-right: 22px;
    }
}