.modal{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    z-index: 1;
    display: none;
   

}

.modal_opened{
    display: flex;
}

.modal__container{
    background-color: white;
    max-width: 430px;
    max-height: 330px;
    border-radius: 10px;
}
.modal__title{
    color: black;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 900;
    margin-bottom: 54px;
    margin-left: 36px;
    margin-top: 34px;
    font-size: 24px;
    max-width: 200px;
    line-height: 1.2;
}


@media screen and (max-width:480px){
    .modal__container{
        max-width: 282px;
        max-height: 322px;
    }

    .modal__title{
        font-size: 18px;
        margin-top: 25px;
        margin-left: 22px;
        margin-bottom: 75px;
    }
    
}