.nature{
    
    margin-top: 40px;
}

.nature__list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    list-style: none;
    margin: 0;
    padding: 0;
   

}

.nature__card{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    
}

.nature__image{
    width: 282px;
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nature__description{
    display: flex;
    background-color: white;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    align-items: center;
    padding-right: 20px;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   column-gap: 3px;
   
}

.nature__title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Inter", "Arial", sans-serif;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 900;
    margin: 0;   
}

.nature__like-button{
    background: transparent url(../images/Vector\ \(1\).svg) center no-repeat;
    width: 21px;
    height: 18px;
    border-style: none;
    flex-shrink: 0;
    margin: 0;
    cursor: pointer;
    
}

.nature__like-button:hover{
    opacity: 50%;
}

.nature__like-button_active{
    background: transparent url(../images/Union.svg) center no-repeat;

}

.nature__delete-button{
    background: transparent url(../images/Trash.svg) no-repeat;
    width: 18px;
    height: 19px;
    border-style: none;
    position: absolute;
    left: 85%;
    top: 5%;
    cursor: pointer;
}

.nature__delete-button:hover{
    opacity: 60%;
}